:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 667px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

#box {
  border: 1px solid black;
}

#board {
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
}

footer > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
