:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

#about > * {
  max-width: 300px;
  margin-bottom: 1rem;
}


#game {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  top: 30px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  padding: 0 1rem;
}

.tile {
  border: 1px solid black;
  background-color: transparent;
  perspective: 1000px; 
}

.tile.flip .tile-inner {
  transform: rotateY(180deg);
}

.tile.invalid::before {
  font-weight: 600;
  content: "Invalid";
  color: white;
  margin: 1rem;
  background-color: black;
}

.tile-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.tile-front, .tile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.tile-back {
  color: white;
  transform: rotateY(180deg);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
}

footer > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#javascript-disabled {
  display: none;
}

@media (scripting: none) {
  #javascript-disabled {
    display: block;
    color: red;
    font-size: 1rem
  }

  #play-button {
    display: none;
  }
}
